.nav-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-div .NavLink{
    background-color: rgb(15 23 42);
    color: white; 
    border: none;
    margin: 10px;
    cursor:pointer;
}

.logo{
    margin: 1rem;
}

.log-sign-span .NavLink{
    border: solid wheat 1px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size:medium;
}